registry=https://mozzior-npm.pkg.coding.net/aihome-web/npm/
always-auth=true
//mozzior-npm.pkg.coding.net/aihome-web/npm/:username=npm-1606058340232
//mozzior-npm.pkg.coding.net/aihome-web/npm/:_password=Njc2Y2FlOGU3ZGMwNTFiMzMxNjc2MTczMTBhYTA0MDgyY2Y2YTIwMQ==
//mozzior-npm.pkg.coding.net/aihome-web/npm/:email=480299975@qq.com
